@page "/"
@using PoliciesBlazorApp.Models
@using System.Net.Http
@using PoliciesBlazorApp.Responses

@inject HttpClient Http

<PageTitle>Pólizas</PageTitle>

<h3>Pólizas por cobrar</h3>

<DataGrid TItem="BillingData" Data="@PoliciesList" Sortable="true" Editable="true" ShowPager="true" PageSize="3">
    <DataGridColumn TItem="BillingData" Field="@nameof(BillingData.Policy)" Caption="Póliza" />
    <DataGridColumn TItem="BillingData" Field="Clipert.TotalPremium" Caption="Prima Total"/>
    <DataGridColumn TItem="BillingData" Field="Leasing.PaymentFolio" Caption="Folio Pago" Editable="true"/>
    <DataGridColumn TItem="BillingData" Field="Leasing.Bank" Caption="Banco" Editable="true" />
    <DataGridColumn TItem="BillingData" Field="Leasing.AccountNumber" Caption="No. Cuenta" Editable="true" />
    <DataGridColumn TItem="BillingData" Field="Leasing.DocumentDate" Caption="Fecha Depósito" Editable="true" />
    <DataGridColumn TItem="BillingData" Field="Leasing.DepositAmount" Caption="Importe Depositado" Editable="true" />
    <DataGridColumn TItem="BillingData" Field="Leasing.ReferenceId" Caption="Referencia" Editable="true" />
    <DataGridColumn TItem="BillingData" Field="Clipert.Certificate" Caption="No. Cert." />
    <DataGridColumn TItem="BillingData" Field="Clipert.Invoice" Caption="No. Fact." />
    <DataGridColumn TItem="BillingData" Field="Clipert.SendingDateASE" Caption="Fecha Emisión" />
    <DataGridColumn TItem="BillingData" Field="Clipert.EmmiterCenter" Caption="Centro Emisor" />
    <DataGridColumn TItem="BillingData" Field="@nameof(BillingData.Validated)" Caption="Validada" Editable="true"/>
    <DataGridCommandColumn TItem="BillingData">
        <NewCommandTemplate>
            <TableRowHeader>Acciones</TableRowHeader>
        </NewCommandTemplate>
        <EditCommandTemplate>
            <Button Color="Color.Primary" Clicked="@context.Clicked">Editar</Button>
        </EditCommandTemplate>
    </DataGridCommandColumn>

</DataGrid>
@*<div class="table-responsive">
    <table class="table table-res align-middle">
        <thead>
            <tr>
                <th scope="col">Póliza</th>
                <th scope="col">Prima Total</th>
                <th scope="col"> Folio Pago</th>
                <th scope="col">Banco</th>
                <th scope="col">No. Cuenta</th>
                <th scope="col">Fecha Documento</th>
                <th scope="col">Importe Depósito</th>
                <th scope="col">Referencia</th>
                <th scope="col">No. Cert.</th>
                <th scope="col">No. Fact</th>
                <th scope="col">Fecha envío ASE</th>
                <th scope="col">Centro Emisor</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Validada</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var policy in PoliciesList)
            {
                <tr>
                    <td>@policy.Policy</td>
                    <td>@policy.Clipert.TotalPremium</td>

                    <TextEdit @bind-Text="@policy.Leasing.PaymentFolio" Size="Size.Small" />

                    <td><input style="width:6rem;" value="@policy.Leasing.Bank"></td>
                    <td><input style="width:8rem;" value="@policy.Leasing.AccountNumber"> </td>
                    <td><input type="date" value="@policy.Clipert.SendingDateASE.ToString("yyyy/MM/dd")"></td>

                    <NumericEdit Value="@policy.Leasing.DepositAmount" TValue="Decimal" Size="Size.Small" />

                    <td>@policy.Leasing.ReferenceId</td>
                    <td>@policy.Clipert.Certificate</td>
                    <td>@policy.Clipert.Invoice</td>
                    <td>@policy.Leasing.DocumentDate</td>
                    <td>@policy.Clipert.EmmiterCenter</td>
                    <td width="20%"><div><Button Color="Color.Info">Ver</Button></div></td>
                    <td><input type="checkbox" checked="@policy.Validated"></td>
                    <td width="25%">
                        <div><a class="btn btn-success">Validar</a></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
@*Welcome to your new app.*@

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code {
    public string Url = "/api/PoliciesCollection";

    public List<BillingData> PoliciesList = new();

    protected override async Task OnInitializedAsync() => await LoadPoliciesAsync();

    async Task LoadPoliciesAsync()
    {
        try
        {
            PoliciesList = await Http.GetFromJsonAsync<List<BillingData>>(Url);
        }
        catch (Exception)
        {

            throw;
        }

    }
}