@page "/"
@using PoliciesBlazorApp.Models
@using System.Net.Http
@using PoliciesBlazorApp.Responses
@using System.Net.Http.Headers
@using System.Linq
@using System.Text
@using PoliciesBlazorApp.EventsNMethods
@using PoliciesBlazorApp.Services


@inject HttpClient Http

<PageTitle>Pólizas</PageTitle>


<Heading Size="HeadingSize.Is5" Class="top-air">Pólizas por cobrar</Heading>



<LoadingIndicator @ref=loadingIndicator FullScreen SpinnerColor="Color.Secondary">
    @*search fields*@
    <Div Class="row">
        <Div Style="padding:2rem;" class="col-10">
            <Div Class="row">
                <Div class="col-3">
                    <TextEdit Class="col-12 background"
                              Placeholder="Número de póliza"
                              Color="Colores.AzulBBVA"
                              @bind-Text="@Events.PolicyFilter">
                    </TextEdit>
                </Div>
                <Div Class="col-7">
                    <Div Class="row">
                        <Div Class="col-1 from-to">
                            <Label Style="font-size: 1rem;">De:</Label>
                        </Div>
                        <Div Class="col-5">
                            <DatePicker Class="col-12 background"
                                        Placeholder="Fecha emisión inicio" @bind-Date="@Events.StartDateFilter">
                            </DatePicker>
                        </Div>
                        <Div Class="col-1 from-to">
                            <Label Style="font-size: 1rem;">A:</Label>
                        </Div>
                        <Div Class="col-5">
                            <DatePicker Class="col-12 background"
                                        Placeholder="Fecha emisión fin" @bind-Date="@Events.EndDateFilter">
                            </DatePicker>
                        </Div>
                    </Div>

                </Div>

                <Div Class="col-2">
                    <Select Class="col-12 background" TValue="int" @bind-SelectedValue="@Events.ValidatedFilter">
                        <SelectItem TValue="int" Value=1>Validada</SelectItem>
                        <SelectItem TValue="int" Value=2>Por validar</SelectItem>
                        <SelectItem TValue="int" Value=0>Todas</SelectItem>
                        <SelectItem TValue="int" Value=3>Vencidas</SelectItem>
                    </Select>

                </Div>
            </Div>
        </Div>
    </Div>


    @*---------------------------------------------------------------Grid-----------------------------------------------------------*@
    <Div Class="col-9">
        <Div Padding="Padding.Is3" Class="row">
            <Paragraph>A continuación se muestran las pólizas <strong>pendientes por validar.</strong></Paragraph>
        </Div>
    </Div>
    <DataGrid TItem="Data"
              Data="@Policies.PoliciesList.Data"
              @bind-SelectedRow="@SelectedItem"
              Sortable="false"
              Editable
              ShowPager
              PageSize=5
              Responsive="true"
              EditMode="DataGridEditMode.Popup"
              FixedHeader="true"
              Resizable
              Hoverable
              CommandMode="DataGridCommandMode.Commands"
              CustomFilter="@Events.OnCustomFilter"
              RowUpdated="@OnPolicyRowUpdated"
              UseInternalEditing=true
              DetailRowTrigger="@OnDetailRowShow"
              SelectedRowStyling="@Events.OnSelectedRowStyling"
              RowStyling="@Events.OnRowStyling" Style="margin-bottom: 0 !important;" UseValidation>
        <PopupTitleTemplate>
            <ModalTitle>
                Editar póliza
            </ModalTitle>
        </PopupTitleTemplate>
        <DataGridColumns>
            <DataGridColumn TItem="Data" Field="@nameof(Data.Policy)" Caption="PÓLIZA" Width="7%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn CellClass="@((item)=>"breakin-word")" TItem="Data" Field="Leasing.Serial" Caption="NO. SERIE" Editable="true" Width="14%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Clipert.TotalPremium" Caption="PRIMA TOTAL" DisplayFormat="{0:C2}"
                            DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("en-US",false).NumberFormat" Width="7%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Leasing.PaymentFolio" Caption="FOLIO PAGO" Editable="true" Width="7%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Leasing.Bank" Caption="BANCO" Editable="true" Width="14%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Leasing.AccountNumber" Caption="CUENTA" Editable="true" Width="7%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Leasing.DocumentDate" Caption="FECHA DEPÓSITO" Editable="true" DisplayFormat="{0:dd/MM/yyyy}" Width="7%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Leasing.DepositAmount" Caption="IMPORTE" Editable="true" DisplayFormat="{0:C}"
                            DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("en-US",false).NumberFormat" Width="7%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Leasing.ReferenceId" Caption="REFERENCIA" Editable="true" Width="5%" TextAlignment="TextAlignment.Center" />
            <DataGridColumn TItem="Data" Field="Clipert.SendingDateASE" Caption="FECHA EMISIÓN" DisplayFormat="{0:dd/MM/yyyy}" Width="7%" TextAlignment="TextAlignment.Center" />

            <DataGridCheckColumn TItem="Data" Field="@nameof(Data.Validated)" Caption="VALIDADA" Width="5%">
                <DisplayTemplate>
                    <Div Class="centered">
                        @{
                            var date = context.Clipert.SendingDateASE;
                            var limitTerm = date.AddDays(Convert.ToDouble(context.Term));
                            TimeSpan term = limitTerm - DateTime.Now;

                            if (term.Days < 0)
                            {
                                <Check TValue="Boolean" Disabled
                               Background="Background.Secondary" />
                            }
                            else
                            {
                                <Check TValue="Boolean" Checked="@context.Validated" Disabled="@context.Validated" CheckedChanged="@ShowCheckedConfirmMessage"
                               Background="Background.Secondary" />
                            }
                        }
                    </Div>
                </DisplayTemplate>
            </DataGridCheckColumn>
            <DataGridColumn TextAlignment="TextAlignment.Center" TItem="Data" Width="5%">
                <DisplayTemplate>
                    <Tooltip Text="Mostrar/Añadir comentarios" Placement="TooltipPlacement.Top">
                        <Icon Name="IconName.Comments" IconStyle="IconStyle.DuoTone" IconSize="IconSize.x10" Clicked="@ShowCommentsModal"></Icon>
                    </Tooltip>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridCommandColumn NewCommandAllowed="false" DeleteCommandAllowed="false">
                <SaveCommandTemplate>
                    <Button ElementId="btnSave" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary"
                            Clicked="@context.Clicked" Size="Size.ExtraLarge">
                        Guardar
                    </Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button ElementId="btnCancel" Color="Color.Secondary" Clicked="@context.Clicked" Size="Size.ExtraLarge">Cancelar</Button>
                </CancelCommandTemplate>
                <EditCommandTemplate>
                    @{
                        var date = context.Item.Clipert.SendingDateASE;
                        var limitTerm = date.AddDays(Convert.ToDouble(context.Item.Term));
                        TimeSpan term = limitTerm - DateTime.Now;

                        if (term.Days < 0)
                        {
                            //<Button Style="min-width: 1rem !important; background-color: transparent !important; box-shadow: none !important;" Disabled Outline>
                            //    <Icon Name="IconName.Edit" IconStyle="IconStyle.DuoTone" IconSize="IconSize.ExtraSmall"></Icon>
                            //</Button>
                        }
                        else
                        {
                            <Tooltip Fade Text="Modificar datos de póliza" Placement="TooltipPlacement.Top">
                                <Button Style="min-width: 1rem !important; background-color: transparent !important; box-shadow: none !important;" Outline Clicked="context.Clicked" Disabled="context.Item.Validated">
                                    <Icon Name="IconName.Edit" IconStyle="IconStyle.DuoTone" IconSize="IconSize.ExtraSmall"></Icon>
                                </Button>
                            </Tooltip>
                        }

                    }
                </EditCommandTemplate>
            </DataGridCommandColumn>



        </DataGridColumns>

        @*------------------------------------DetailRow Template ---------------------------------------------------------*@
        <DetailRowTemplate>
            @*<div class="container" style="background-color: #F1F1F1; margin:0 !important">*@
            <Div Class="row" Style="background-color: #F1F1F1;align-items: end !important;">
                <Div Class="col-1"></Div>
                <Div Class="col-3">
                    <Field Padding="Padding.Is1">
                        <FieldLabel TextWeight="TextWeight.Bold">Certificado: </FieldLabel>
                        <Text>@context.Clipert.Certificate</Text>
                    </Field>
                </Div>
                <Div Class="col-2">
                    <Field Padding="Padding.Is1">
                        <FieldLabel TextWeight="TextWeight.Bold">Factura: </FieldLabel>
                        <Text>@context.Clipert.Invoice</Text>
                    </Field>
                </Div>
                @*<Div Class="col-1"></Div>*@
                <Div Class="col-2">
                    <Field TextAlignment="TextAlignment.Center" Padding="Padding.Is1">
                        <FieldLabel TextWeight="TextWeight.Bold">Centro emisor: </FieldLabel>
                        <Text>@context.Clipert.EmmiterCenter</Text>
                    </Field>
                </Div>
                <Div Class="col-1"></Div>
                <Div Class="col-3">
                    <Field Padding="Padding.Is1">
                        <FieldLabel TextWeight="TextWeight.Bold">Última modificación: </FieldLabel>
                        @{
                            if ((context.UpdateDate) == null)
                            {
                                <Text> Sin modificación</Text>
                            }

                            else
                            {
                                <Text> @context.UpdateDate</Text>
                            }

                        }
                    </Field>
                </Div>
            </Div>
            @*</div>*@
        </DetailRowTemplate>
    </DataGrid>


    @*--------------------------------------------------------->modal comments<----------------------------------------------*@
    <Modal @ref="commentsModalRef" Animated AnimationDuration="550" FocusTrap="true" ShowBackdrop>
        <ModalContent Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>Comentarios de la póliza @SelectedItem.Policy</ModalTitle>
                <CloseButton Clicked="@CloseCommentsModal" />
            </ModalHeader>
            <ModalBody>
                <DataGrid TItem="PolicyCommentVM"
                          Data="@SelectedItem.Comments.OrderByDescending(c=>c.CommentDate)"
                          ShowPager
                          PageSize="5"
                          Responsive
                          FixedHeader
                          Hoverable
                          Editable
                          CommandMode="DataGridCommandMode.ButtonRow"
                          EditMode="DataGridEditMode.Form"
                          @bind-SelectedRow="@selectedComment"
                          SelectedRowStyling="@Events.OnSelectedRowStylingComments"
                          RowStyling="@Events.OnRowStylingComments"
                          RowInserted="@OnCommentRowInserted"
                          UseValidation>
                    <DataGridColumns>
                        <DataGridColumn CellClass="@((item)=>"breakin-word")" TItem="PolicyCommentVM" Field="@nameof(PolicyCommentVM.Comment)" Caption="Comentario" Editable Width="35%" />
                        <DataGridColumn TItem="PolicyCommentVM" Field="@nameof(PolicyCommentVM.User)" Caption="Usuario" TextAlignment="TextAlignment.Center" />
                        <DataGridColumn TItem="PolicyCommentVM" Field="@nameof(PolicyCommentVM.CommentDate)" Caption="Fecha" TextAlignment="TextAlignment.Center" />
                        <DataGridColumn TItem="PolicyCommentVM" Field="@nameof(PolicyCommentVM.CommentType)" Caption="Tipo" Displayable="false" TextAlignment="TextAlignment.Center" />
                        <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false" DeleteCommandAllowed="false">
                            <SaveCommandTemplate>
                                <Button Size="Size.ExtraLarge" ElementId="btnSave" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked">
                                    Guardar
                                </Button>
                            </SaveCommandTemplate>
                            <CancelCommandTemplate>
                                <Button Size="Size.ExtraLarge" ElementId="btnCancel" Color="Color.Secondary" Clicked="@context.Clicked">Cancelar</Button>
                            </CancelCommandTemplate>
                        </DataGridCommandColumn>
                    </DataGridColumns>
                    <ButtonRowTemplate>
                        <Button Size="Size.ExtraLarge" Color="Color.Primary" Disabled="@SelectedItem.Validated" Clicked="@context.NewCommand.Clicked">Nuevo</Button>
                        <Button Size="Size.ExtraLarge" Color="Color.Secondary" Clicked="@CloseCommentsModal">Cerrar</Button>
                    </ButtonRowTemplate>
                </DataGrid>
            </ModalBody>
        </ModalContent>
    </Modal>



    @*-------------------------------------------------------->Snackbar's'<--------------------------------------------*@

    <Snackbar @ref="@successSnackBar" Color="SnackbarColor.Info">
        <Div Class="center-snack">
            <SnackbarBody Style="font-size: 15px; font-weight: 600;">
                Póliza @SelectedItem.Policy validada correctamente
                <SnackbarAction Clicked="@(()=>successSnackBar.Hide())"></SnackbarAction>
            </SnackbarBody>
        </Div>
    </Snackbar>
    <Snackbar @ref="@commentSnackBar" Color="SnackbarColor.Info">
        <Div Class="center-snack">
            <SnackbarBody Style="font-size: 15px; font-weight: 600;">
                Comentario guardado exitosamente
                <SnackbarAction Clicked="@(()=>commentSnackBar.Hide())"></SnackbarAction>
            </SnackbarBody>
        </Div>
    </Snackbar>

    <Snackbar @ref="@errorSnackBar" Color="SnackbarColor.Danger">
        <Div Class="center-snack">
            <SnackbarBody Style="text-align: center; font-size: 15px; font-weight: 600;">
                No se modificó ningún dato de la póliza @SelectedItem.Policy
                <SnackbarAction Clicked="@(()=>errorSnackBar.Hide())"></SnackbarAction>
            </SnackbarBody>
        </Div>
    </Snackbar>
</LoadingIndicator>


@code {
    [Inject]
    IMessageService MessageService { get; set; }

    LoadingIndicator loadingIndicator { get; set; }

    Snackbar successSnackBar;
    Snackbar errorSnackBar;
    Snackbar commentSnackBar;

    public Data SelectedItem = new();
    public PolicyCommentVM selectedComment = new PolicyCommentVM();

    private Modal commentsModalRef = new();
    private Modal detailsModalRef = new();

    protected override async Task OnInitializedAsync() => await Policies.LoadPoliciesAsync();

    public Boolean OnDetailRowShow(DetailRowTriggerEventArgs<Data> e)
    {
        e.Single = true;
        return ((e.Item.Policy == SelectedItem?.Policy));
    }

    async Task ShowCheckedConfirmMessage(Boolean value)
    {

        try
        {
            if (await MessageService.Confirm("Verificas que los datos son correctos. Hecha ésta acción ya no podrás modificar la información.", "Validación de póliza", opt => { opt.ConfirmButtonText = "Aceptar"; opt.CancelButtonText = "Cancelar"; opt.ShowMessageIcon = true; opt.MessageIcon = IconName.ExclamationCircle; }))
            {
                await OnCheckedChange(value);
            }
        }
        catch (Exception ex)
        {

            throw;
        }


    }


    async Task OnCheckedChange(Boolean value)
    {

        Policy policy = new()
            {
                PolicyNumber = SelectedItem.Policy,
                Serial = SelectedItem.Leasing.Serial,
                PaymentFolio = SelectedItem.Leasing.PaymentFolio,
                ReferenceId = SelectedItem.Leasing.ReferenceId,
                Bank = SelectedItem.Leasing.Bank,
                Invoice = SelectedItem.Clipert.Invoice,
                AccountNumber = SelectedItem.Leasing.AccountNumber,
                DocumentDate = SelectedItem.Leasing.DocumentDate,
                DepositAmount = SelectedItem.Leasing.DepositAmount,
                Validated = value
            };
        try
        {

            await loadingIndicator.Show();

            var policiesWereUpdated = await Policies.PatchPoliciesAsync(policy);

            if (policiesWereUpdated)
            {
                await Policies.LoadPoliciesAsync();

                await loadingIndicator.Hide();
                await successSnackBar.Show();
                StateHasChanged();
            }
            else
            {
                await loadingIndicator.Hide();

                await errorSnackBar.Show();
            }


        }
        catch (Exception ex)
        {

            throw;
        }
    }

    async Task OnCommentRowInserted(SavedRowItem<PolicyCommentVM, Dictionary<String, Object>> e)
    {
        var comment = e.Item;

        PolicyCommentPost commentPost = new()
            {
                Policy = SelectedItem.Policy,
                Invoice = SelectedItem.Clipert.Invoice,
                Comment = comment.Comment
            };

        try
        {
            await loadingIndicator.Show();
            var commentWerePosted = await Policies.PostCommentAsync(commentPost);

            if (commentWerePosted)
            {
                await loadingIndicator.Hide();
                await Policies.LoadPoliciesAsync();
                await CloseCommentsModal();
                await commentSnackBar.Show();

                StateHasChanged();
                
            }
            else
            {
                await loadingIndicator.Hide();

                await errorSnackBar.Show();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }


    async Task OnPolicyRowUpdated(SavedRowItem<Data, Dictionary<String, object>> e)
    {

        var policies = e.Item;
        Policy policy = new()
            {
                PolicyNumber = policies.Policy,
                PaymentFolio = policies.Leasing.PaymentFolio,
                Serial = policies.Leasing.Serial,
                ReferenceId = policies.Leasing.ReferenceId,
                Bank = policies.Leasing.Bank,
                Invoice = policies.Clipert.Invoice,
                AccountNumber = policies.Leasing.AccountNumber,
                DocumentDate = policies.Leasing.DocumentDate,
                DepositAmount = policies.Leasing.DepositAmount,
                Validated = policies.Validated
            };
        try
        {
            await loadingIndicator.Show();

            var policiesWereUpdated = await Policies.PatchPoliciesAsync(policy);

            if (policiesWereUpdated)
            {
                await Policies.LoadPoliciesAsync();

                await loadingIndicator.Hide();
                await successSnackBar.Show();
                StateHasChanged();
            }
            else
            {
                await loadingIndicator.Hide();

                await errorSnackBar.Show();
            }



        }
        catch (Exception)
        {

            throw;
        }
    }

    private Task ShowCommentsModal()
    {

        return commentsModalRef.Show();

    }

    private Task CloseCommentsModal()
    {
        return commentsModalRef.Close(CloseReason.None);
    }

    private Task ShowDetailsModal()
    {
        //LoadComments(SelectedItem.Policy, SelectedItem.Clipert.Invoice).Wait();
        return detailsModalRef.Show();
    }
}

